---
const { title, text, ctas } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <p>{text}</p>

  <ul>
    <li>
      <a href={ctas.call.href}>{ctas.call.label}</a>
    </li>
    <li>
      <a href={ctas.whatsapp.href}>{ctas.whatsapp.label}</a>
    </li>
    <li>
      <a href={ctas.email.href}>{ctas.email.label}</a>
    </li>
  </ul>
</section>


